<h4>Garage Name:<%= @garage.name %></h4>
<h4>Garage Capacity: <%= @garage.capacity %></h4>
<h4>Autos in this Garage: </h4>
<ul>
  <% @garage.autos.each do |auto| %>
    <li><a href="/autos/<%=auto.id%>"><%= auto.name %></a></li>
  <% end%>
</ul>
<a href="/garages/<%=@garage.id%>/edit">Edit this Garage</a>
<br />
<br />

<form action="/garages/<%= @garage.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this Garage">
</form>
