<h3>Edit car details below: </h3>

<form action = "/autos/<%=@auto.id %>" method = "POST">

  <label> Car Manufacturer </label>
  <input type = "text" name = "manufacturer" value = "<%=@auto.manufacturer%>"> </br>

  <label> Model Name </label>
  <input type = "text" name = "name" value = "<%= @auto.name %>"> </br>

  <label> Which garage location is this auto assigned to? </label>
  <select name = "garage_id">
    <%current_user.garages.each do |garage| %>
      <option value = <%= garage.id %> <%= "selected" if garage.id == @auto.garage.id %> ><%= garage.name %></option>
    <% end %>
  </select>

  <input type = "submit" value = "Update">

</form>


<form action="/autos/<%= @auto.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this Auto">
</form>
